@import 'components/header';
@import 'components/userprofile';
@import 'components/accountform';
@import 'components/dropdownmenu';
@import 'components/exercise';

body {
  margin: 0px;
  background-color: lightyellow;
  padding: 0px;
}

.container {
  padding: 20px;
  margin: 5% 10%;
  background-color: aliceblue;
}

.button {
  padding: 10px;
}

.submit-button {
  text-align: center;
}

.linkbutton {
  align-items: flex-end;
  padding: 10px;
  text-decoration: none;
  background-color: palegoldenrod;
  color: black;
  text-decoration: none;
}

.error-message {
  background-color: lightcoral;
}

.frontpage-title {
  text-align: center;
  font-size: 25px;
}