@import 'components/header';
@import 'components/userprofile';
@import 'components/accountform';
@import 'components/dropdownmenu';
@import 'components/exercise';
@import 'components/workout';
@import 'components/spinner';

body {
  margin: 0px;
  background-color: #dcdcdc;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 20px;
  margin: 5% 10%;
  background-color: #f3f9ff;
  border-radius: 10px;
}

.linkbutton {
  align-items: flex-end;
  align-self: flex-start;
  padding: 10px;
  text-decoration: none;
  background-color: #fff388;
  border: 2px solid #ffb100;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

.backbutton {
  text-align: center;
  padding: 15px 25px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  text-align: center;
  padding: 20px;
  margin: 0;

  &-success {
    background-color: lightgreen;
  }

  &-error {
    background-color: lightcoral;
  }
}

.message-container {
  display: flex;
  justify-content: center;
}

.frontpage-title {
  text-align: center;
  font-size: 25px;
}

.text-input {
  padding: 10px;
  font-size: 15px;
  border-radius: 4px;

  &:focus {
    outline: none !important;
    border: 2px solid #b4c0ff;
    box-shadow: 0 0 10px #b4c0ff;

  }
}

.checkbox-input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

.submit-button {
  align-items: flex-end;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #fff388;
  border: 2px solid #ffb100;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  align-self: center;
  font-size: 16px;
}

.search-bar {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
}