.header {
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.container {
  padding: 0px 10px;
}

.error-message {
  background-color: lightcoral;
}

.header-title {
  padding:10px;
  margin-right: 75%;
}

.header-link {
  align-items: flex-end;
  padding: 10px
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.input-field {
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

body {
  margin: 0px;
  background-color: lightyellow;
  padding: 0px;
}

.registerform-button {
  text-align: center;
}

.button {
  padding: 10px;
}