.accountform {
  background-color: #f3f9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 5% 10%;
  width: 60%;
  border-radius: 10px;

  &-container {
    display: flex;
    justify-content: center;
  }

  &-input {
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;

    @media screen and (min-width: 200px) and (max-width: 1000px) {
      font-size: 35px
    }

    &:focus {
      outline: none !important;
      border: 2px solid #b4c0ff;
      box-shadow: 0 0 10px #b4c0ff;
    }
  }
}

#loginButton {
  display: flex;
  justify-content: center;
}

#registerButton {
  display: flex;
  justify-content: center;
}