.dropdown {

  &-header {
    padding: 0px;
    position: relative;
    cursor: pointer;
  }

  &-content {
    background-color: palegoldenrod;
    position: absolute;
    white-space: nowrap;
    right: 10px;
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
  }

  &-item {
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  &-linkcontainer {
    display: flex;
    padding: 0px 20px;
    justify-content: center;
    border-top: 1px black solid;
  }

}