.dropdown {

  &-header {
    padding: 0px;
    position: relative;
    cursor: pointer;
  }

  &-icon {
    width: 40px;
    height: 40px;

    @media screen and (min-width: 200px) and (max-width: 1000px) {
      width: 80px;
      height: 80px;
    }
  }

  &-content {
    background-color: #fff388;
    position: absolute;
    white-space: nowrap;
    right: 10px;
    border-radius: 5px;
    border-right: 2px #ffb100 solid;
    border-left: 2px #ffb100 solid;
    border-bottom: 2px #ffb100 solid;
  }

  &-item {
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    @media screen and (min-width: 200px) and (max-width: 1000px) {
      font-size: 45px;
      padding: 15px;
    }
  }

  &-linkcontainer {
    display: flex;
    padding: 0px 20px;
    justify-content: center;
    border-top: 2px #ffb100 solid;
  }

}