.dropdown {

  &-wrapper {
    background-color: palegoldenrod;
  }

  &-header {
    padding: 11px 22px;
    position: relative;
    cursor: pointer;
  }

  &-content {
    background-color: palegoldenrod;
    position: absolute;
  }

  &-item {
    padding: 10px;
    cursor: pointer;
  }

}