.exercise {

  &-page {

    &-link {
      margin-block-start: 1em;
      margin-block-end: 1em;
      text-decoration: none;
      color: black;
    }
  }

  &-name {
    position: absolute;
  }

  &-accepted {
    background-color: lightgreen;
    margin: 5px;
    padding: 15px;
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &-suggestion {
    background-color: orange;
    margin: 5px;
    padding: 5px;
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &-suggestion-toggle {
    padding: 9px 0px;
    margin-top: 2px;
    margin-left: 80%;
  }

  &-suggestion-toggle-button {
    margin: 0px 5px;
    cursor: pointer;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 20px;
    }
  }

  &-form {
    display: flex;
    justify-content: center;

    &-title {
      font-size: 20px;
      text-align: center;
    }
  }

  &-chart {

    &-tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;

      &:hover &-text {
        visibility: visible;
      }

      &-text {
        visibility: hidden;
        width: 300px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
      }
    }
  }
}