.exercise {

  &-page {

    &-link {
      margin-block-start: 1em;
      margin-block-end: 1em;
      text-decoration: none;
      color: black;
    }

    &-header {
      display: flex;
      flex-direction: column;
    }

    &-name {
      display: flex;
      align-items: center;
      font-size: 18px;
      align-self: center;

      @media screen and (min-width: 200px) and (max-width: 1000px) {
        margin-top: 20px;
        font-size: 45px;
      }
    }
  }

  &-name {
    position: absolute;
  }

  &-accepted {
    background-color: #fff388;
    border: 2px solid #ffb100;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 200px) and (max-width: 1000px) {
      font-size: 35px;
      margin-bottom: 10px;
    }
  }

  &-suggestion {
    background-color: #ffe19d;
    border: 2px solid #ffb100;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 10px;
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 200px) and (max-width: 1000px) {
      font-size: 35px;
    }
  }

  &-suggestion-toggle {
    padding: 9px 0px;
    margin-top: 2px;
    margin-left: 80%;
  }

  &-suggestion-toggle-button {
    margin: 0px 5px;
    cursor: pointer;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 25px;
      margin-bottom: 15px;

      @media screen and (min-width: 200px) and (max-width: 1000px) {
        font-size: 50px;
        margin-top: 30px;
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    &-title {
      font-size: 20px;
      text-align: center;

      @media screen and (min-width: 200px) and (max-width: 1000px) {
        font-size: 50px;
        margin-top: 30px;
      }

    }

    &-header {
      display: flex;
      flex-direction: column;
    }
  }

  &-chart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    @media screen and (min-width: 200px) and (max-width: 1000px) {
      font-size: 25px;
      padding: 15px;
    }

    &-tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
      align-self: flex-start;

      @media screen and (min-width: 200px) and (max-width: 1000px) {
        font-size: 35px;
      }

      &:hover &-text {
        visibility: visible;
      }

      &-text {
        visibility: hidden;
        width: 300px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;

        @media screen and (min-width: 200px) and (max-width: 1000px) {
          width: 400px
        }
      }
    }
  }

  &-empty {
    font-size: 35px;
    margin: 30px
  }
}


#accept {
  background-color: #79ff61;
  border-radius: 20px;

  @media screen and (min-width: 200px) and (max-width: 1000px) {
    width: 30px
  }
}

#reject {
  background-color: #ff6262;
  border-radius: 20px;

  @media screen and (min-width: 200px) and (max-width: 1000px) {
    width: 30px
  }
}