.header {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  background-color: lightgray;
  padding: 5px 10px;

  &-menu {
    overflow: hidden;
    display: flex;
  }

  &-icon {
    width: 40px;
    height: 40px;

    &-link {
      display:block;
      margin-bottom: 0px;
      text-decoration: none;
      max-height: 36px;
    }
  }

  &-title {
    display: flex;
    max-height: 36px;

    &-text {
      font-size: 18px;
      padding: 10px;
      text-decoration: none;
      color: black;
    }
  }

  &-link {
    padding: 11px 10px;
    margin: 0px 5px;
    background-color: palegoldenrod;
    text-decoration: none;
    color: black;
  }

  &-logout {
    padding: 11px 10px;
    margin: 0px 5px;
    background-color: palegoldenrod;
    border-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
  }
}