.userprofile {

  &-title {
    font-size: 25px;
    text-align: center;

    @media screen and (min-width: 200px) and (max-width: 1000px) {
      font-size: 50px;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  &-text {
    font-size: 20px;
    padding: 10px;

    @media screen and (min-width: 200px) and (max-width: 1000px) {
      font-size: 35px;
    }
  }

  &-profile {
    margin: 30px 35%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 200px) and (max-width: 1000px) {
      margin: 30px 30%;
      align-items: flex-start;
    }

  }

  &-icon {
    @media screen and (min-width: 200px) and (max-width: 1000px) {
      height: 80px;
      width: 80px;
      margin-right: 20px;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    &-input {
      padding: 10px;
      margin: 10px 0px 10px 0px;
      border-radius: 4px;

      @media screen and (min-width: 200px) and (max-width: 1000px) {
        font-size: 35px;
      }


      &:focus {
        outline: none !important;
        border: 2px solid #b4c0ff;
        box-shadow: 0 0 10px #b4c0ff;
      }
    }
  }

  &-button {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    background-color: #fff388;
    border: 2px solid #ffb100;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    width: 25%;

    @media screen and (min-width: 200px) and (max-width: 1000px) {
      width: 50%;
      font-size: 35px;
    }

  }

  &-button-container {
    display: flex;
    justify-content: center;
  }
}

#profileSubmit {
  cursor: pointer;
  background-color: #fff388;
  border: 2px solid #ffb100;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

  @media screen and (min-width: 200px) and (max-width: 1000px) {
    margin: 0px 10%;
    align-items: flex-start;
    font-size: 35px;
  }
}