.workout {

  &-header {
    display: flex;

    &-button {
      align-items: flex-end;
      padding: 10px;
      background-color: palegoldenrod;
      color: black;
      text-decoration: none;
      border: none;
      font: 16px "Times New Roman";
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 20px;
    }

    &-entry {
      margin: 5px;
      padding: 5px;
      background-color: lightgreen;
      width: 60%;
      text-align: center;

      &-details {
        margin-bottom: 10px;
      }
    }
  }

  &-exercise {

    &-name {
      margin: 5px;
    }

    &-detail {
      margin: 2px;
    }
  }

  &-form {
    display: flex;
    align-items: center;
    flex-direction: column;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-title {
      font-size: 20px;
    }

    &-exercise {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-exerciseform {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-weightform {
      display: flex;
      flex-direction: column;
    }
  }
}